@charset "UTF-8";
/**
 * Сброс стилей
 **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f8f9ff;
}

.container {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1180px;
  box-sizing: border-box;
  margin: 0 auto;
}

.common-title {
  font-size: 40px;
  font-weight: 700;
}

p,
a,
button {
  color: #8794ba;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
}

button {
  user-select: none;
}

html,
body {
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
  .wrap {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 768px) {
  .common-title {
    font-size: 32px;
    font-weight: 600;
  }
}
@media screen and (max-width: 425px) {
  .wrap {
    padding-inline: 10px;
  }
}
.intro {
  position: relative;
  z-index: 1;
}
.intro::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #172755;
  background-image: url("/assets/img/bg-logo-1.png"), url("/assets/img/bg-logo-2.png");
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}
.intro::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -17px;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ef2a82;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.header {
  padding-top: 50px;
  display: flex;
  align-items: center;
}
.header__menu-btn {
  display: none;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 82px;
  user-select: none;
}
.header__logo img {
  margin-right: 13px;
}
.header__logo p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.header__menu {
  flex-grow: 1;
}
.header__menu-list {
  display: flex;
  gap: 36px;
}
.header__item {
  position: relative;
  z-index: 1;
}
.header__item a {
  line-height: 150%;
}
.header__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  height: 2px;
  background-color: #ef2a82;
  transition: all 0.2s;
}
.header__item:hover::before {
  width: 100%;
}
.header__btns {
  z-index: 2;
  display: flex;
  gap: 15px;
}
.header__btns--transparent {
  background-color: transparent;
  color: #8794ba;
  border: 1px solid transparent;
  border-radius: 68px;
  font-size: 16px;
  padding: 10px 53px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header__btns--transparent:hover {
  background-color: transparent;
  color: #8794ba;
  border: 1px solid #8794ba;
  border-radius: 68px;
  font-size: 16px;
  padding: 10px 53px;
  cursor: pointer;
}
.header__btns--circular {
  background-color: transparent;
  color: #8794ba;
  border: 1px solid #8794ba;
  border-radius: 68px;
  font-size: 16px;
  padding: 10px 53px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header__btns--circular:hover {
  filter: brightness(130%);
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 74px;
  padding-bottom: 258px;
}
.dashboard__info {
  max-width: 550px;
  padding-top: 78px;
}
.dashboard__info-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
  margin-bottom: 15px;
}
.dashboard__info-text {
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 50px;
}
.dashboard__info-btn {
  background-color: #ef2a82;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 68px;
  font-size: 16px;
  padding: 15px 80px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.dashboard__info-btn:hover {
  background-color: transparent;
  color: #ef2a82;
  border: 1px solid #ef2a82;
  border-radius: 68px;
  font-size: 16px;
  padding: 15px 80px;
  cursor: pointer;
}
.dashboard__charts {
  position: relative;
  z-index: 1;
}
.dashboard__charts img {
  position: relative;
  top: 88px;
  left: -175px;
}
.dashboard__charts::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -50px;
  left: calc(120% - 650px);
  width: calc(220% - 50px);
  height: 650px;
  background: url("/assets/img/chart-big.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1440px) {
  .intro::after {
    background-image: url("/assets/img/bg-logo-1.png"), url("/assets/img/bg-logo-2.png");
    background-position: 0 0, 400px 0;
  }
}
@media screen and (max-width: 1200px) {
  .intro::after, .intro::before {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  }
  .intro::after {
    background-image: none;
  }
  .header {
    justify-content: space-between;
  }
  .header__logo {
    flex-grow: 1;
  }
  .header__btns--transparent {
    background-color: transparent;
    color: #8794ba;
    border: 1px solid transparent;
    border-radius: 68px;
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 6px;
  }
  .header__btns--transparent:hover {
    background-color: transparent;
    color: #8794ba;
    border: 1px solid #8794ba;
    border-radius: 68px;
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
  }
  .header__menu-btn {
    display: block;
    position: relative;
  }
  .header__menu-btn input {
    cursor: pointer;
    position: relative;
    visibility: hidden;
    width: 24px;
    height: 24px;
  }
  .header__menu-btn input:checked ~ .header__menu--side {
    opacity: 1;
    transform: translateX(0);
  }
  .header__menu-btn input::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    visibility: visible;
    background: url("/assets/icons/menu-icon.svg");
    background-repeat: no-repeat;
  }
  .header__menu--side {
    position: absolute;
    z-index: 2;
    top: 40px;
    right: -15px;
    background: #0f1f4b;
    padding: 30px 40px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s;
  }
  .header__menu--side ul {
    flex-direction: column;
  }
  .header__menu--side ul li {
    width: fit-content;
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
  }
  .header__menu--side ul li:last-child {
    margin-bottom: 0;
  }
  .header__menu--side ul li::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 2px;
    background-color: #ef2a82;
    transition: all 0.2s;
  }
  .header__menu--side ul li:hover::before {
    width: 100%;
  }
  .header__menu--adaptive {
    display: none;
  }
  .dashboard {
    padding-top: 40px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: start;
  }
  .dashboard__info {
    max-width: 100%;
    text-align: center;
  }
  .dashboard__info-title {
    font-size: 45px;
  }
  .dashboard__info-text {
    padding-bottom: 30px;
  }
  .dashboard__charts {
    margin: 0 auto;
    width: 100%;
  }
  .dashboard__charts img {
    visibility: hidden;
  }
  .dashboard__charts::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 650px;
    height: 490px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard__info-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 600px) {
  .intro::after, .intro::before {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  .header {
    gap: 10px;
    justify-content: flex-start;
  }
  .header__logo {
    margin-right: 0;
  }
  .dashboard {
    padding-top: 40px;
    gap: 24px;
  }
  .dashboard__info {
    padding-top: 0;
    text-align: start;
  }
  .dashboard__info-text {
    font-size: 16px;
  }
  .dashboard__charts::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
.main-features {
  margin-top: 55px;
  margin-bottom: 130px;
}
.main-features__title {
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.main-features__text {
  font-size: 18px;
  text-align: center;
  line-height: 150%;
  margin-bottom: 80px;
}
.main-features__advantages {
  display: flex;
  justify-content: space-between;
}
.main-features__advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 366px;
}
.main-features__advantages-item img {
  margin-bottom: 26px;
  width: 60px;
  height: 60px;
}
.main-features__advantages-item h3 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}
.main-features__advantages-item p {
  line-height: 140%;
}

@media screen and (max-width: 1200px) {
  .main-features {
    margin-bottom: 100px;
  }
  .main-features__advantages {
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .main-features {
    margin-bottom: 80px;
  }
  .main-features__text {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .main-features__advantages {
    flex-direction: column;
    align-items: center;
  }
  .main-features__advantages-item {
    width: 100%;
    max-width: 350px;
  }
}
.roadmap__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.roadmap__item:last-child {
  margin-bottom: 0;
}
.roadmap__item.reverse {
  flex-direction: row-reverse;
}
.roadmap__description {
  max-width: 480px;
}
.roadmap__title {
  margin-bottom: 30px;
  line-height: 120%;
}
.roadmap__text {
  font-size: 18px;
  line-height: 150%;
}
.roadmap__picture img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .roadmap__item {
    margin-bottom: 50px;
    gap: 20px;
  }
  .roadmap__description {
    min-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .roadmap__item, .roadmap__item.reverse {
    flex-direction: column;
  }
  .roadmap__description {
    max-width: 100%;
  }
  .roadmap__title {
    margin-bottom: 15px;
  }
  .roadmap__text {
    font-size: 16px;
  }
  .roadmap__picture {
    width: 100%;
  }
  .roadmap__picture img {
    margin: 0 auto;
    min-width: 300px;
  }
}
.pricing-plans {
  position: relative;
  z-index: 1;
  padding-top: 280px;
  padding-bottom: 100px;
}
.pricing-plans::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #172755;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}
.pricing-plans::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -17px;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ef2a82;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}
.pricing-plans__description {
  margin-bottom: 80px;
}
.pricing-plans__title {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.pricing-plans__text {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  max-width: 540px;
}
.pricing-plans__subscribtions {
  display: flex;
  justify-content: space-between;
}
.pricing-plans__subscribtions .subscribtions__item:first-child,
.pricing-plans__subscribtions .subscribtions__item:last-child {
  background: #0f1f4b;
  box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
}
.pricing-plans__subscribtions .subscribtions__item:first-child .subscribtions__item__title,
.pricing-plans__subscribtions .subscribtions__item:last-child .subscribtions__item__title {
  color: #fff;
}
.pricing-plans__subscribtions .subscribtions__item:first-child .subscribtions__item__subtitle::before,
.pricing-plans__subscribtions .subscribtions__item:last-child .subscribtions__item__subtitle::before {
  background: #2a407c;
}
.pricing-plans__subscribtions .subscribtions__item:first-child .subscribtions__item__price,
.pricing-plans__subscribtions .subscribtions__item:last-child .subscribtions__item__price {
  color: #fff;
}
.pricing-plans__subscribtions .subscribtions__item:first-child .subscribtions__item__order-btn,
.pricing-plans__subscribtions .subscribtions__item:last-child .subscribtions__item__order-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #2a407c;
  border-radius: 68px;
  font-size: 16px;
  padding: 16px 80px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.pricing-plans__subscribtions .subscribtions__item:first-child .subscribtions__item__order-btn:hover,
.pricing-plans__subscribtions .subscribtions__item:last-child .subscribtions__item__order-btn:hover {
  filter: brightness(150%);
}
.pricing-plans__subscribtions .subscribtions__item:nth-child(2) {
  background: #fff;
  box-shadow: 0 18px 50px -15px #060f28;
}
.pricing-plans__subscribtions .subscribtions__item:nth-child(2) .subscribtions__item__title {
  color: #000;
}
.pricing-plans__subscribtions .subscribtions__item:nth-child(2) .subscribtions__item__subtitle::before {
  background: #d3d9e9;
}
.pricing-plans__subscribtions .subscribtions__item:nth-child(2) .subscribtions__item__price {
  color: #000;
}
.pricing-plans__subscribtions .subscribtions__item:nth-child(2) .subscribtions__item__order-btn {
  background-color: #ef2a82;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 68px;
  font-size: 16px;
  padding: 16px 80px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.pricing-plans__subscribtions .subscribtions__item:nth-child(2) .subscribtions__item__order-btn:hover {
  background-color: transparent;
  color: #ef2a82;
  border: 1px solid #ef2a82;
  border-radius: 68px;
  font-size: 16px;
  padding: 16px 80px;
  cursor: pointer;
}
.pricing-plans__subscribtions .subscribtions__item {
  border-radius: 30px;
  padding: 50px 66px 70px;
  text-align: center;
}
.pricing-plans__subscribtions .subscribtions__item__title {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}
.pricing-plans__subscribtions .subscribtions__item__subtitle {
  position: relative;
  font-size: 18px;
  line-height: 150%;
  color: #8794ba;
  margin-bottom: 66px;
}
.pricing-plans__subscribtions .subscribtions__item__subtitle::before {
  content: "";
  position: absolute;
  top: 220%;
  left: 50%;
  width: 220px;
  height: 1px;
  transform: translate(-50%, -50%);
}
.pricing-plans__subscribtions .subscribtions__item__price {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 5px;
}
.pricing-plans__subscribtions .subscribtions__item__currency {
  font-size: 30px;
}
.pricing-plans__subscribtions .subscribtions__item__period {
  font-size: 16px;
  line-height: 140%;
  color: #8794ba;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .pricing-plans {
    padding-top: 150px;
  }
  .pricing-plans::after, .pricing-plans::before {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .pricing-plans__description {
    margin-bottom: 50px;
  }
  .pricing-plans__subscribtions {
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 35px;
  }
}
@media screen and (max-width: 768px) {
  .pricing-plans::after, .pricing-plans::before {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }
  .pricing-plans__text {
    font-size: 16px;
  }
  .pricing-plans__subscribtions .subscribtions__item {
    padding: 30px 40px 50px;
  }
  .pricing-plans__subscribtions .subscribtions__item__title {
    font-size: 26px;
  }
  .pricing-plans__subscribtions .subscribtions__item__subtitle {
    font-size: 16px;
  }
  .pricing-plans__subscribtions .subscribtions__item__subtitle::before {
    width: 180px;
  }
  .pricing-plans__subscribtions .subscribtions__item__price {
    font-size: 45px;
  }
}
@media screen and (max-width: 425px) {
  .pricing-plans::after, .pricing-plans::before {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  }
}
.footer {
  background: #172755;
}
.footer__wrapper {
  border-top: 1px solid #2a407c;
  padding-top: 64px;
  padding-bottom: 104px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo img {
  margin-right: 10px;
}
.footer__logo p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}
.footer__item {
  position: relative;
  z-index: 1;
}
.footer__item a {
  line-height: 150%;
}
.footer__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  height: 2px;
  background-color: #ef2a82;
  transition: all 0.2s;
}
.footer__item:hover::before {
  width: 100%;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer__links a i {
  font-size: 28px;
  transition: all 0.2s;
}
.footer__links a i:hover {
  filter: brightness(130%);
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .footer__nav {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .footer__wrapper {
    flex-flow: column wrap;
    align-items: center;
    gap: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
